<!DOCTYPE html>
<html>
  <head>
    <style>
    body {
      background-image: url("http://livewallpaperswide.com/wp-content/uploads/2016/11/birthday-balloons-hd-wallpaper.jpg")

      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    </style>
  </head>
  <body background = http://starkovtattoo.spb.ru/images/000/DSC100045124.jpg>
    <center><%= @name %>!! <%=@day%> <%=@month%></center>
  </body>
</html>
