<!DOCTYPE html>
<html>
  <head>
    <style media="screen">
      center {
        padding-top: 10px
      }

      h1 {
        font-size: 100px;
      }
      h2 {
        font-size: 40px;
      }
      input {
        width: 15%
      }
      .button1 {
        background-color: #99ccff;
        border-radius: 5px;
      }
      body {
        background-image: url("http://livewallpaperswide.com/wp-content/uploads/2016/11/birthday-balloons-hd-wallpaper.jpg")

        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
    </style>
  </head>
  <body background = http://livewallpaperswide.com/wp-content/uploads/2016/11/birthday-balloons-hd-wallpaper.jpg>
    <center>
      <h1>Hello there!!</h1>
    <form action="/index" method="post">
      <h2>What's your name?</h2>
        <input type="text" name="name">
      <h2>When's your birthday?</h2>
        <input type="number" name="day">
         <select class="" name="month">
          <option value="January">January</option>
          <option value="February">February</option>
          <option value="March">March</option>
          <option value="April">April</option>
          <option value="May">May</option>
          <option value="June">June</option>
          <option value="July">July</option>
          <option value="August">August</option>
          <option value="September">September</option>
          <option value="October">October</option>
          <option value="November">November</option>
          <option value="December">December</option>
        </select>
        <div>
          <input class="button1" type="submit" value="Submit">
        </div>
      </form>
      </center>
    </body>
</html>
